@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../../public/assets/css/bootstrap.min.css);
@import url(../../public/assets/css/owl.carousel.min.css);
@import url(../../public/assets/css/owl.theme.default.min.css);
@import url(../../public/assets/css/nice-select.css);
@import url(../../public/assets/css/aos.css);
@import url(../../public/assets/css/style.css);
@import url(../../public/assets/css/responsive.css);
@import url(../../public/assets/css/color.css);
@import url(../../public/assets/css/about.css);
@import url(../../public/assets/css/fontawesome.css);


* {
  direction: rtl;
  margin: 0;
  padding: 0;
}

header {
  padding: 0;
}

.LifeStyle {
  overflow: hidden;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

:where(.css-dev-only-do-not-override-2i2tap).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 0;
  border-left: 1px solid rgb(192, 192, 192);
}

.ant-select-selector {
  border: unset !important
}

.parent-q {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-upload-select {
  margin-inline-end: unset !important;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #f29f05 !important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot {
  background-color: #f29f05 !important;
}

.title-question {
  display: flex;
  flex-direction: column;
}

.title-question h1 {
  font-size: 25px;
  line-height: 40px;
}

.title-question p {
  font-size: 17px;
  margin-bottom: 20px !important;
}

.parent-questions {
  background-color: #ffffff;
  box-shadow: -1px 15px 26px -4px rgb(161 151 151 / 15%);
  -webkit-box-shadow: -1px 15px 26px -4px rgb(161 151 151 / 15%);
  -moz-box-shadow: -1px 15px 26px -4px rgba(161, 151, 151, 0.15);
  padding: 50px 20px;
  display: block;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
  min-height: 450px;
  width: 100%;
}

.parent_of_questionn {
  width: 100%;
}

.ant-steps-item {
  height: 30px;
}

.shabnam {
  font-family: "Shabnam", sans-serif !important;
}

#step {
  position: absolute;
  z-index: 0;
  top: 0%;
  left: 0;
  font-size: 60vh;
  font-weight: 700;
  color: hsl(330, 25%, 15%);
  -webkit-transition: 2s;
  transition: 2s;
  transform: scale(.4);
}

#step::before {
  content: 'مرحله';
  position: absolute;
  z-index: 1;
  top: 15%;
  right: -20vw;
  font-size: 20vh;
  font-weight: 700;
  color: hsl(38, 90%, 52%);
}

#step::after {
  content: 'از ۴';
  position: absolute;
  z-index: 1;
  top: 50%;
  right: -9rem;
  font-size: 10vh;
  font-weight: 700;
  color: hsl(330, 25%, 20%);
}

.sleep {
  opacity: 0;
}

.rest {
  height: 0;
  opacity: 0;
}

.wake {
  opacity: 1;
}

.ant-input {
  width: 100% !important;
}

.button {
  cursor: pointer;
}

p {
  position: relative;
  z-index: 2;
  font-size: 1rem;
}

#type {
  height: auto;
  margin: 50px 0 !important;
}

.collapsed {
  height: 0;
}

[contenteditable] {
  color: hsl(330, 10%, 50%);
  border: 0 solid hsl(330, 10%, 50%);
  border-width: 0 .1rem;
  padding: 0 1em;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

[contenteditable]:focus {
  color: hsl(30, 100%, 75%);
  border-color: hsl(330, 10%, 50%);
}

input[type=button] {
  position: relative;
  top: 0rem;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(330, 10%, 25%);
  background: transparent;
  border: .2rem solid hsl(330, 10%, 25%);
  border-radius: .75rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0 hsl(330, 10%, 5%);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  cursor: pointer;
}

input[type=button]:hover {
  top: -.5rem;
  color: hsl(30, 100%, 75%);
  border: .2rem solid hsl(30, 100%, 75%);
  box-shadow: 0 .5rem 0.5rem hsl(330, 10%, 5%);
}

input[type=text],
input[type=email] {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: hsl(30, 100%, 75%);
  background: transparent;
  border: 0 solid hsl(330, 10%, 25%);
  border-width: 0 0 .1rem 0;
  width: 80%;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.input-text {
  margin-top: 50px !important;
}

.click {
  cursor: pointer;
}

body.wait .click {
  cursor: default;
}

.pulse {
  -webkit-animation: pulse 2s infinite linear;
  animation: pulse 2s infinite linear;
}

.pulse:hover {
  -webkit-animation: none;
  animation: none;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #f29f05 !important;
  background-color: #f29f05 !important;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #f29f05;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #f29f05;
  background-color: #f29f05 !important;
}

.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #f29f05;
}

.ant-btn-primary {
  border-color: #f29f05;
  background-color: #f29f05 !important;
}

.ant-radio-button-wrapper-checked {
  border-color: #f29f05 !important;
  background-color: #f29f05 !important;
}

.q-radio .ant-radio-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  direction: rtl;
  gap: 5px;
}

.ant-input {
  font-family: "Shabnam", sans-serif;
}

.ant-modal-content {
  direction: rtl;
}

.l-radio .ant-radio-group {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.l-radio .ant-radio-group label {
  width: 50%;
  text-align: center;
}

input[type=text],
input[type=email] {
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(0, 0%, 26%);
  background: unset;
  border: 0 solid hsl(0, 0%, 82%);
  border-width: unset;
  width: 80%;
  transition: 1s ease-out;
  margin-bottom: 20px;
}

.ant-modal-body {
  direction: rtl;
  margin-top: 30px;
}

.ant-form-inline .ant-form-item {
  width: 100%;
}

.ant-steps div h3 {
  font-size: 18px;
}

.q-radio .ant-checkbox-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.ant-select-dropdown {
  direction: rtl;
}

.ant-space {
  width: 100%;
}

.ant-space-compact {
  width: 100%;
}

.ant-space-item {
  width: 100%;
}

@-webkit-keyframes pulse {
  0% {
    opacity: .25;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .25;
  }
}

@keyframes pulse {
  0% {
    opacity: .25;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .25;
  }
}

.ant-table-container::after {
  box-shadow: unset !important;
}

.flex-ul ul {
  display: flex;
}

.swiper-wrapper {
  /* padding: 10px; */
}

.swiper-slide {
  /* padding: 20px !important; */
  cursor: pointer;
}

.ant-input-number-filled:hover {
  background-color: whitesmoke
}

.ant-input-number-filled {
  height: 32px;
}

.border-in-time {
  border: "3px solid #eeeeee"
}

.ctn {
  width: 100%;
  max-width: 1380px;
  height: 100%;
  padding: 50px 10px;
  margin: 0 auto;
}

section {
  width: 100%;
  /* min-height: 50vh; */
}

.home-ctn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.box {
  width: 100%;
  max-width: 420px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  margin: 10px;
  background: var(--color6);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.box-one-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  /* margin: 16px auto; */
}

.ant-progress-text {
  font-size: 14px !important;
}

.box-one h3,
.box-one p,
.box-one h6 {
  text-align: center;
}

.box-one h6 {
  margin: 16px auto;
}

.ant-checkbox-inner {
  background-color: #f29f05;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #f29f05 !important;
  border: 0;
}

.two-factor {
  width: 70px !important;
  border: 2px solid #f29f058c !important;
  height: 70px;
  font-size: 40px !important;
  color: #6c757d !important;
  border-radius: 10px;
}

.logo_head {
  width: 80px;
  height: 80px;
}

.ant-modal-content {
  overflow: auto;
  max-height: 80vh;
}

.ant-steps {
  transform: scale(1.8);
  align-items: center;
  justify-content: center;
  width: 100% !important;
}

.form_auth {
  direction: ltr !important;
}



.tab-content {
  margin-bottom: 50px;
}

.no_padd {
  padding: 140px !important;
}

.Provides {
  box-shadow: unset;
}

.tab_navigation {
  display: flex;
  width: 400px;
  height: 80px;
  align-items: stretch;
  justify-content: space-around;
  background-color: #f29f05;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px -1px 8px #b6b6b6;
  margin-top: 30px;
}

.button_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button_navigation .text {
  font-size: 14px;
}

@media (max-width:700px) {
  body {
    overflow-x: hidden;
  }

  .container {
    max-width: unset !important;
  }

  footer {
    display: none;
  }

  .no_padd {
    padding: 0 !important;
  }

  .home-ctn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/* @media (max-width: 320px) { */
/* .container {
    max-width: 100%;
  } */
/* } */